* {
    margin: 0;
    padding: 0
    box-sizing: border-box;
}

body {
    background-color: #19123B;
}

.card {
    border-radius: 20px;
    width: 350px;
    border-top: 5px solid  rgb(195, 152, 241);
    background-color: #212042;
    border: none;
    box-shadow: 0 5px 8px #252525;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
    color: #444444;
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #000;
    font-weight: bold
}

.date {
    background-color: #ccc
}
.name {  font-size: 22px;  font-weight: bold color: #444444;  color: white; }

.circule{
    border-radius:50%;
    border:none;
    height:60px;
    width:60px;
    color:#ffffff;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    
    }

.color-b{
    background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
    }

.h2, h2 {
    font-size: 2rem;
    color: white;
    margin-top: 3vh;
}
