<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="{% static 'core/css.css' %}">
    <title>Sign up | BugHunt 2022</title>
</head>

<body>
    <div class="container">
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} m-2" id="msg" role="alert">
                        <strong>{{message}}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card py-3 px-2">
                    <p class="text-center mb-3 mt-2">Login Now</p>
                    <div class="row mx-auto ">
                        <div class="col-4">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="col-4">
                            <i class="fab fa-facebook"></i>
                        </div>
                        <div class="col-4">
                            <i class="fab fa-google"></i>
                        </div>
                    </div>
                    <div class="division">
                        <div class="row">
                            <div class="col-3">
                                <div class="line l"></div>
                            </div>
                            <div class="col-6"><span>Enter Valid Creds</span></div>
                            <div class="col-3">
                                <div class="line r"></div>
                            </div>
                        </div>
                    </div>
                    <form class="myform" method="post" action=".">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        <div class="form-group">
                            {{form.username|as_crispy_field}}
                            <div class="form-group">
                                {{form.email|as_crispy_field}}
                            </div>
                            <div class="form-group">
                                {{form.password1|as_crispy_field}}
                            </div>
                            <div class="form-group">
                                {{form.password2|as_crispy_field}}
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group form-check">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-block btn-primary btn-lg"><small><i
                                            class="far fa-user pr-2"></i>Login</small></button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function(){
            if ($('msg').length > 0) {
                $('msg').remove();
            }
        }, 2000)
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>