@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    background-color:  #bbbbbb  ;
}

/* .container{
    background-color: blanchedalmond;
} */

.had{
    /* background-color: black; */
    text-align: center;
    color: blue;
    font-family: 'Koulen', cursive;
}
.subhad{
    /* background-color: black; */
    margin-left: 20px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
.descrip{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
.imgs{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.imafes{
    align-items: center;
}